.mynav{
    background-color: #e53935;
    color: white;
    text-decoration: none;
    padding: 0;
}
.mynav a{ 
    color: white;
    text-decoration: none;
    padding: 8px;
}
.active{
    text-decoration: underline 
}
.nav-item{
    padding: 8px;
}
.nav-item:hover {
    opacity: 0.7;
    background-color: #ff6f60;
}
.container{
    background-color: #fffde7;
    width: 100vw;
    min-height: 100vh;
    margin: 0;

}