<!DOCTYPE html>
    <html lang="pt-Br">
        {% extends 'navbar.html' %}
        {% block menu %}
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Categorias</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                        </li>
                </ul>
        {% endblock %} 
        {% block content %}
                <div class="container">
                        
                </div>
        {% endblock %}
    </html>
